*{
	margin: 0px;
	padding: 0px;
}
@font-face{
	font-family: "police";
	src: url("../police/big_noodle_titling.TTF");
}
@font-face{
	font-family: "police2";
	src: url("police/Bellerose.TTF");
}

#slide1{
	background: url('img/slide1.jpg') center 0 no-repeat fixed;
	height: 1000px;
	padding-top: 100px;
	background-size: cover;
}


#slide2{
	background: url('img/slide2.jpg') center 0 no-repeat fixed;
	height: 1000px;
	padding-top: 100px;
	background-size: cover;
}

#slide3{
	background: url('img/slide3.jpg') center 0 no-repeat fixed;
	height: 1000px;
	padding-top: 100px;
	background-size: cover;
}

#slide4{
	background: url('img/slide4.jpg') center 0 no-repeat fixed;
	height: 1000px;
	padding-top: 100px;
	background-size: cover;
}

#slide5{
	background: url('img/slide5.jpg') center 0 no-repeat fixed;
	height: 1000px;
	padding-top: 100px;
	background-size: cover;
}

#slide6{
  background: url('img/slide6.jpg') center 0 no-repeat fixed;
  height: 1000px;
  padding-top: 100px;
  background-size: cover;
}
#slide7{
  padding: 5px;
  color: white;
  font-family: "police2";
  font-size: 13px;
}
.Degrade{
background-image:linear-gradient(60deg,   #2574A9, #1F3A93);
}
.slide_inside{
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  border-radius: 10px;
  padding: 50px;
  color: white;
  font-family: "police2";
  font-size: 18px;
  width: 80%;
  margin: 0 auto;

}
.rect{
  height:15px;
  border:1px solid #fff; 
  background:linear-gradient(60deg,   #2574A9, #1F3A93);
}
@media screen and (max-width: 768px){
    .slide_inside{
      width: 65%;
    }

    #slide5{
      height: 630px !important;
}
    .slide_inside_form{
      height: 200px !important;
      width: 299px !important;
}
    }
    
}


#inf{
	font-size: 2em;
	font-weight: bold;
	color: #b7dc84;
}

#dip{
	font-size: 2em;
	font-weight: bold;
	color: #b74544;
}

#com{
	font-size: 2em;
	font-weight: bold;
	color: #d9db44;
}

#exp{
	font-size: 2em;
	font-weight: bold;
	color: #2574A9;
}

#ctr{
	font-size: 2em;
	font-weight: bold;
	color: #ba7894;
}

#ctc{
  font-size: 2em;
  font-weight: bold;
  color: #c8906a;
}

#pp{
  float: right;
  margin-right: 10px;
  margin-top: -300px;
}

h1{
    font-size: 2em;
  font-weight: bold;
  color: #abcd12;
}
/*LE MENU RESPONSIVE - HAMBURGER*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu > ul {
  background: #2C3E50;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #2C3E50;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}

#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #F9690E;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #2C3E50;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #dff2fa;
}